body {
    color: black;
    background-image: linear-gradient( white, rgba(31, 117, 34, 0.579));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    direction: rtl;
    text-align: center;
    margin: 30px;
}

img {
    display: block;
}

.logo-link { 
    z-index: 1;
    display: inline;
    float: right;
}

.logo-link:hover {
    opacity: .8;
}
.logo-link:link {
    opacity: .7;
}

.navigation-items {
    opacity: .6;
    letter-spacing: 1px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    background-color: rgb(16, 34, 27);
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;

}


.navigation-items:hover {
    opacity: .9;
}
.navigation-items:link {
    opacity: .8;
}

.navigation-item {
    opacity: 1;
    color: white;
    background-color: green;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 183px;
}

.navigation-item:hover {
    opacity: 8;
    color: rgb(0, 0, 0);
}
.navigation-item:link {
    opacity: 7;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logo-link {
    display: inline-block;
}

.logo-image {
  width: 7%;
  position: absolute;
  right: 10px;
}

.navigation-items {
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navigation {
    display: flex;
    justify-content: center;
}

.introbigtext {
    text-align: center;
    font-size: 100px;
    font-weight: 20px;
    color: black;
}

.introtext {
    text-align: center;
    font-size: 30px;
    font-weight: 20px;
    color: black; 
    margin-top: 50px;

}


h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: auto;    
}
.theend {
  margin: 30px;
  background-color: lightgoldenrodyellow;
  direction: ltr;
}

/* עמוד אודות */
p {
  text-align: right;
}

.logohit {
  width: 10%;
  margin: auto;  
}

.picname{
  display: inline-block;
  text-align: -webkit-center;
  width: 200px;
  height: 270px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.name-img {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 270px;
  align-items: center;
}


/* עמוד שחקנים */
.player-name {
    color: rgb(61, 120, 100);
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 300px;
}

.player-img {
    width: 300px;
    height: 300px;
    align-items: center;
}

.player-total {
    display: inline-block;
    text-align: -webkit-center;
    width: 300px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.player-title {
    color: rgb(24, 62, 49);
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
}

#container {
    text-align: center;
    align-items: center;
}
 p{
    text-align: center;
 }

.bc {
    display: inline-block;
}

.bc::after {
    content: ">";
}

.bc:last-child::after{
    content: "";
}

.divbc {
    text-align: right;
    display: block;
}
